
           

            <form action="/articles" method="POST" id="blogForm">
                <h1>Fill the Form bellow to create an Article</h1>
                <table>
                    <tr>
                        <td><label for="title">Enter Blog Title</label></td>
                        <td><input type="text" name="title" class="title"></td>
                    </tr>
                    <tr>
                            <td><label for="">Enter Blog Description</label></td>
                            <td><input type="text" name="description" class="description"></td>
                    </tr>
                    <tr>
                            <td><label for="image">Enter Blog Cover Image</label></td>
                            <td><input type="file" name="image" class="image"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="" width="120" height="130" class="imgToUpdate"></td>
                    </tr>
                    <tr>
                            <td><label for="content">Enter Blog Content</label></td>
                            <td><textarea rows="20" cols="100" name="content" class="content"></textarea></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><input type="submit" value="Create Article" class="create"></td>
                        <td><input type="submit" value="Update Article" class="updateArticle"></td>
                        <td><input type="submit" value="Cancel" class="dismiss"></td>
                    </tr>
                </table>
            </form>
            

        