<!DOCTYPE hmtl>
<html>
<head>
    <title>Blog homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/bloghomepage.css">
    
</head>
<body>
    <div class="container">
        <div class="header">
            <marquee direction="right"><h2>Welcome, Enjoy Our <span>Weekly realesed </span> Blogs!</h2></marquee>
        </div>
        <ul >
                
                <li><a href="createarticle.ejs">Portifolio</a></li>
                <h2 > <span > <a href="/static/login.html" class="lists" id="list">Login</a></span></h2>

        </ul>
        <div class="body">
        <div class="main">
            <% articles.forEach(image =>{ %>
                <div class="main">
                    <div class="newBlog">
                        <div class="blogheader">
                            <div class="river"> 
                                <h2 class="title"> <%= image.title %></h2>
                                <p class="firstdescription">
                                   <span class="description"> <%= image.description %></span> <span class="readmore"><a href="">...Continue Reading...</a></span> 
                                </p>
                            </div>
                          </div>
                        <img src="data:image/<%=image.img.contentType%>;base64, 
                        <%=image.img.toString('base64')%>"> 
                    </div>
                </div>
            <% }) %>
            
        </div>

        </div>


            <div class="contacts">
                    <div class="telPhone">
                    
                            <img src="/static/telephone icon.png">
        
                            <h3>+250 784450008</h3>
                        
                    </div>
        
                    <div class="facebook">
                            
                                <img src="/static/facebook.png">
                            
                            
                                <a href="www.https://facebook.com/furebo24@gmail.com"><h3 style="color: white">furebo24@gmail.com</h3></a>
                            
                    </div>
        
        
                    <div class="github">
                            
                                <img src="/static/github.png">
                        
                                <a href="www.https://github.com/furebo"><h3 style="color: white">github.com/furebo</h3></a>
                            
                    </div>
        
                    <div class="email">
                        
                            <img src="/static/email icon.png">
                        
                            <h2>furebodidace582@gmail.com</h2>
                        
                    </div>
                </div>
            

</body>


<script src="blog.js"></script>
</html>